<app-nav-login-menu></app-nav-login-menu>
<div class="container" style="padding-top:100px;">
  <div class=" col-md-4"></div>

  <div class=" col-md-4">


    <form [formGroup]="angForm" novalidate (ngSubmit)="login()" #f="ngForm">
      <div class="panel panel-default">
        <div class="panel-body" style="padding-left:10%;padding-right:10%">

          <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;font-weight: bold;"> Welcome</h1>
          <div class="row">
            <input type="text" name="Id" [(ngModel)]="model.Id" class="form-control " formControlName="Id"
              placeholder="Windows ID"><br />
            <input type="password" name="Passward" [(ngModel)]="model.Password" formControlName="Passward"
              class="form-control" placeholder="Password">

            <!--<a href="#" id="forgot_pswd">Forgot password?</a>-->
          </div>
          <div class="row">
            <br />
            <button type="submit" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success"
              style="width:100%">Sign In</button>
          </div>
          <div class="row">
            <div
              *ngIf="angForm.controls['Id'].invalid && (angForm.controls['Id'].dirty || angForm.controls['Id'].touched)"
              class="alert alert-danger">
              <div *ngIf="angForm.controls['Id'].errors.required">Windows Id is empty.</div>
              <div *ngIf="angForm.controls['Id'].errors.minlength">Windows Id atleast minimum 5 character.</div>
            </div>

            <p style="color:#E92626;font-size:15px;font-weight:normal" Class="success" align="left">
              {{errorMessage}}
            </p>
          </div>

          <div class="row">
            <div class="termspolicy" style="text-align:center;">
              <label style="text-align:center;font-size:12px;font-weight:normal">
                <a href="https://www.stlogs.com/pages/terms-of-use/" target="_blank">
                  <font color="#00000"> Terms of Use | </font>
                </a>
                <a href="https://www.stlogs.com/pages/privacy-policy/" target="_blank">
                  <font color="#00000">
                    Privacy Policy
                  </font>
                </a>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="STL" style="text-align:center;">
              <label style="text-align:center;font-size:12px;font-weight:normal">
                <font color="#00000"> ST Logistics Pte Ltd. All Rights Reserved </font>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="STL" style="text-align:center;">
              <label style="text-align:center;font-size:12px;font-weight:normal">
                <font color="#081776">Compatible with Internet Explorer version 10 and above or Chrome</font>
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class=" col-md-4"></div>