<div class="container">
  <div class="row">
    <div class="col-md-12" style="background-color:#337ab7;padding-top: 30px;"></div>
  </div>
  <div class="row panel panel-default" >
    <div class="panel-body" style="padding-top: 5px;">
      <div class="col-md-4"><a class="navbar-brand brandLogo">
          <img class="img-responsive" src="assets/Images/STL.png" />
        </a></div>
      <div class="col-md-6"> </div>
      <div class="col-md-2">
        <img class="img-responsive" src="assets/Images/eSecurity.png">

      </div>
    </div>
  </div>


</div>