<p>view-test works!</p>
<div class="row">
    <!-- <div class="col-4 cursor-pointer" *ngFor="let question of quiz.questions; let index = index;">
      <div (click)="goTo(index)" class="p-3 mb-2 {{ isAnswered(question) == 'Answered'? 'bg-info': 'bg-warning' }}">{{index + 1}}. {{ isAnswered(question) }}</div>
    </div> -->

<!-- 
    <div *ngFor="let question of testModal.questions; let index = index">
      <div class="result-question p-3 mb-2 {{ isSelected(question) == 'Answered'? 'text-success': 'text-danger' }}">
        <h5 class="">{{index + 1}}. {{question.Question}}</h5>
        <div class="row">

          <div class="col-6" style="padding-left:50px;" *ngFor="let Option of question.options">
            <div *ngIf="Option.selected">
            <input id="{{Option.AnswerID}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" />
            
              <b>{{Option.Answer}}1</b>
            </div>
            <div *ngIf="!Option.selected">
              <input id="{{Option.AnswerID}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" />
              {{Option.Answer}}2222
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div> -->